.acordeon{
    width: 85%;
    padding: 3em;
}

.acordeon .bloque{
    text-align: center;
}

.acordeon .titulo{
    cursor: pointer;
    margin: 1em;
    padding: 0, 0, 1em;
}

.acordeon .content{
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.titulo i{
    box-align: right;
}

.acordeon .bloque.activo .content{
    opacity: 1;
    height: fit-content;
    max-height: 80em;
    transition: all 0.5s ease;
}

.acordeon .fas{
    float: right;
}

.acordeon .bloque.activo .fas{
    transition: 0.25s ease;
    transform: rotate(-90deg);
}

.acordeon .bloque .fas{
    transition: 0.25s linear;
    transform: rotate(0deg);
}