@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'Roboto', sans-serif;
}


body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    margin-top: 2em;
}

.acordeon{
    box-shadow: 5px 5px 5px #666;
    position: relative;
    width: 70%;
    background-color: #cacfd22a;
    border-radius: 15px;
    margin: auto;
}

.acordeon .bloque{
    
    padding: 0.5em;
    text-align: center;
}

.acordeon .titulo{
    padding: 1em;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #666;
    cursor: pointer;
}

.acordeon .content{
    height: 0;
    opacity: 0;
    overflow: hidden;
}


.titulo i{
    box-align: right;
}

.acordeon .bloque.activo .content{
    opacity: 1;
    height: fit-content;
    transition: all 0.5s ease;
}

.acordeon .fas{
    float: right;
}

.acordeon .bloque.activo .fas{
    transition: 0.25s ease;
    transform: rotate(-90deg);
}

.acordeon .bloque .fas{
    transition: 0.25s linear;
    transform: rotate(0deg);
}