.acordeon{
    width: 85%;
    padding: 3em;
}

.acordeon .bloque{
    margin: 1em;
    padding: 0, 0, 1em;
}

.acordeon .titulo{
    cursor: pointer;
    margin: 1em;
    padding: 0, 0, 1em;
}

.acordeon .content{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: ease-out 0.5s;
}

.acordeon .bloque.activo .content{
    opacity: 1;
    height: fit-content;
    max-height: 80em;
    transition: ease-in 0.5s;

}

